body {
    margin: 0 auto;
    padding: 0;

    font-family: 'Lato', sans-serif;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0;
}

/* Portfolio */

.portfolio {
    width: 100%;
    background-color: #2d303a;
    border-bottom: 7px solid #323746;
    padding-top: 70px;
    padding-bottom: 48px;
} 

h2 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    margin: 0;
}

p {
    margin-top: 26px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
}

/* Tags */ 
.buttons__tags {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: -7px;
}

.buttons__tags li a {
    text-decoration: none;

    border-radius: 5px;
    border: 1px solid #767e9e;

    padding: 2px 7px 3px 6px;
    margin-right: 10px;

    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;

    transition: all 0.5s;
}
.buttons__tags > li:nth-child(3) > a {
    padding-right: 5px;
}
.buttons__tags > li:last-child > a {
    padding-right: 5px;
}
.buttons__tags li a:hover {
    border: 1px solid #c5c5c5;
    color: #dedede;
}
.buttons__tags li a:active, .buttons__tags li a:focus {
    background-color: #767e9e;
    color: #dedede;
}


/* Grid для содержимого таблицы ячейка элемент грида made Kasko*/
.portfolio__items {
    list-style: none;
    padding: 0;

    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    margin-top: 18px;

    grid-template-columns: repeat(4, 220px);
    grid-template-rows: repeat(100, 187px);
    
    overflow: hidden;
    height: 604px;

    transition: .3s;
}

.portfolio__items li img {
    width: 100%;
    height: 100%;
}

.portfolio__items li img:hover {
    filter: brightness(75%);
}

/* About US */ 

.about-us {
    width: 100%;
    background-color: #f2f2f2;
    border-bottom: 7px solid #ffffff;
    padding-top: 70px;
    padding-bottom: 54px;
}

.about-us p {
    line-height: 30px;
}

.about-us__persons {
    padding-top: 28px;
    display: flex;
    justify-content: space-between;

    height: 455px;
    /* скрываем перенос 
    flex-wrap: wrap;
    max-height: 455px;
    overflow: hidden;
    */
}

.person-item {
    max-width: 300px;
    margin-right: 20px;
}
.person-item:nth-child(n+3) {
    margin-right: 0px;
}

/*   Скрываем карточки после 3й, т.к. nowrap */
.person-item:nth-child(n+4) {
    overflow: hidden;
    margin-left: 20px; /* Если делать прокрутку растояние между карточками */
}

figure {
    padding: 0;
    margin: 0;
}

figcaption {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: left;

    margin-top: 13px;
    overflow: hidden;

    white-space: nowrap;
}

.person-item img {
    max-width: 300px;
    height: 300px;
}

.person-item p {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    text-align: left;

    margin-top: 11px;
    letter-spacing: -0.1px;
}

/* social-icons */ 

.social-icons a {
    display: inline-block;
    width: 33px;
    height: 33px;
    color: #666d89;
    border-radius: 100%;
    border: 1.5px solid #666d89;
    box-sizing: border-box;

    margin: 10px 4px 8px 0px;

    filter: opacity(60%);
    transition: .3s;
}

.social-icons a:hover {
    box-shadow: 0px 0px 5px #767e9e;
    filter: brightness(150%);
}
.social-icons a:active {
    opacity: 35%;
}

.social-icons a:nth-child(1) {
    background: url(./assets/social/facebook.svg) no-repeat center;
}
.social-icons a:nth-child(2) {
    background: url(./assets/social/google+.svg) no-repeat center;
}
.social-icons a:nth-child(3) {
    background: url(./assets/social/twitter.svg) no-repeat center;
}
.social-icons a:nth-child(4) {
    background: url(./assets/social/linkedin.svg) no-repeat center;
}
