body {
    margin: 0 auto;
    padding: 0;

    font-family: 'Lato', sans-serif;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0;
}

/* Блок растяжка для float */ 
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Шапка */ 
.header__page {
    width: 100%;
    background-color: #2d303a;
    height: 89px;

    box-shadow: 0 7px 0 0 #323746;
    box-sizing: content-box;
}

.logo {
    float: left;

    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: -0.5px;

    color: #ffffff;
    
    padding: 0;
    margin: 0;
    margin-top: 34px;
}

.logo span {
    color: #f06c64;
}
 /* Прячем h1 - но для поисковиков будет виден */ 
.visuallyhidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

.header__navigation {
    float: right;
    margin: 0;
    padding: 0;
}

.navigation {
    list-style: none;
    display: flex;

    padding: 0;
    margin: 0;
    margin-top: 38px;
}

/*ссылки frontend KASKO*/
.navigation a  { 
    text-decoration: none;

    color: #fff;

    font-size: 12px;
    font-weight: 500;
    line-height: 8px;
    text-transform: uppercase;

    padding: 0;
    margin: 0;

    margin-left: 15px;
    margin-right: 14px;
    letter-spacing: -10%;
    transition: 500ms;
}
.navigation li:nth-child(1) a {
    color: #f06c64;
}
.navigation li:nth-child(5) a {
    margin-right: 0;
}
.navigation a:hover {
    text-decoration: underline;
    color: #d69c99;
}
.navigation a:active {
    color: #f06c64;
    text-decoration: none;
}

/* точка в меню через псевдоэлемент */
.navigation ul li {
    position: relative;
}
.navigation a::after {
    position: absolute;

    content: "";
    width: 2px;
    height: 2px;
    background-color: #494e62;
    top: 49px;

    display: block;
}
.navigation li:nth-child(1) a::after {
    display: none;
}


/* Секция slider frontented Kasko*/ 
.slider {
    background-color: #f06c64;
    box-shadow: 0 6px 0 0 #ea676b;
}
.slider-flex {
    display: flex;
    justify-content: flex-start;
    height: 594px;

    margin: 0px;
    margin-top: 6px;
    padding: 0;
}

.conteiner-for-button-slider {
    flex: 0 1 70px;
    max-width: 70px;
}

.button-slider {
    margin-top: 281px;

    width: 16px;
    height: 27px;
    border: none;
    
    background: url(./assets/chevron/chev-left.svg) no-repeat center;

    cursor: pointer;
    transition: 500ms;
}
/* Отк.. обводку. но стилизация не смотриться нужнобуло ложить в div или span большего размера
.button-slider:focus {
    outline: none;
    border: 1px solid #d69c99;
    border-radius: 50%;
}
*/
.button-slider-right {
    transform: rotate(180deg);
    margin-left: 54px;
}

.button-slider:hover {
    filter: brightness(70%);
}

/* У кнопки в состоянии pressed или focus - border КАК УБРАТЬ?* ответ нужно задать состояние focus в нем outline none*/
/*
.button-left {
    background: url(/assets/chevron/chev-left.svg) no-repeat center;
}
/* Как вариант можно перевернуть кнопку, если задана одна картинка для всех 
.button-right {
    background: url(/assets/chevron/chev-right.svg) no-repeat center;
}
*/

.mobile__vertical {
    flex: 0 1 250px;
    max-width: 250px;
    position: relative;

    margin: 0px;
    padding: 0px;
    margin-right: 70px;
}
.phone__vertical {
    position: absolute;
    z-index: 20;
    top: 10px;
    left: -36px;

    width: 260px;
    height: 600px;
    background-image: url(./assets/iPhone-Vertical.png);
    background-repeat: no-repeat;

    margin: 0;
    padding: 0px;
}
.display__vertical {

    position: absolute;

    width: 194px;
    height: 338px;
    box-sizing: border-box;
    top: 116px;
    left: 12px;

    background-image: url(./assets/LayerVertical.png);
    background-repeat: no-repeat;
    border: 3px solid #c6c6c6;
    border-radius: 5px;
    background-position: -12px -136px;
    z-index: 30;
}
.shadow__vertical {
    position: absolute;

    top: 54px;
    left: 2px;

    width: 250px;
    height: 490px;
    background-image: url(./assets/Shadow.png);
    background-repeat: no-repeat;
    z-index: 10;
}


.mobile__horizontal {
    flex: 0 1 490px;
    max-width: 490px;
    position: relative;

    margin: 0px;
    padding: 0px;
    border: 0px;

}
.phone__horizontal {
    position: absolute;
    z-index: 20;
    top: 2px;
    left: 106px;

    width: 260px;
    height: 530px;
    background-image: url(./assets/iPhone-Vertical.png);
    background-repeat: no-repeat;
    transform: rotate(90deg);
}
.display__horizontal {
    position: absolute;

    width: 340px;
    height: 192px;
    box-sizing: border-box;
    top: 186px;
    left: 54px;

    background-image: url(./assets/LayerHorizontal.png);
    background-repeat: no-repeat;
    border: 3px solid #c6c6c6;
    border-radius: 3px;
    background-position: -124px -119px;
    z-index: 30;

}
.shadow__horizontal {
    position: absolute;

    top: 173px;
    left: 0px;

    width: 483px;
    height: 240px;
    background-image: url(./assets/ShadowHorizontal.png);
    background-repeat: no-repeat;
    z-index: 10;
}


/* Services */ 
.services {
    padding-bottom: 49px;
}
.services h2 {
    margin-top: 3px;

    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
}

.services__description {
    padding-top: 3px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
}

/* Grid для содержимого таблицы ячейка элемент грида */ 
.services_items {
    list-style: none;
    padding: 0;
    margin-top: 47px;

    display: grid;
    width: 100%;
    grid-row-gap: 32px;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "l1 l2 l3"
        "l4 l5 l6"
}

.services_items li:nth-child(1) {
    grid-area: l1;
}
.services_items li:nth-child(2) {
    grid-area: l2;
}
.services_items li:nth-child(3) {
    grid-area: l3;
}
.services_items li:nth-child(4) {
    grid-area: l4;
}
.services_items li:nth-child(5) {
    grid-area: l5;
}
.services_items li:nth-child(6) {
    grid-area: l6;
}



/* Grid для содержимого каждой ячейки made Kasko */ 

.services_items li {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows   : auto auto auto;
    grid-row-gap: 9px;
    grid-column-gap: 20px;
    grid-template-areas:
        "icon h3"
        "icon  p"
        "icon  p";
    
}
/* Задаем шрифт h3 для каждого li*/
.services_items li h3 {
    grid-area: h3;

    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;

    margin: 0;
}
.services_items li p {
    grid-area: p;

    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;


    margin: 0;
}
/* Иконка обернута в div */
.services-icon {
    grid-area: icon;

    width: 60px;
    height: 60px;
    border: 3px solid #666d89;
    border-radius: 50%;
    box-sizing: border-box;
}

/* Задаем иконкку индивидуально для каждого элемента div в li */
.services_items li:nth-child(1) .services-icon {
    background: url(./assets/icons/pen.png) no-repeat center;
}
.services_items li:nth-child(2) .services-icon {
    background: url(./assets/icons/bulb.png) no-repeat center;
}
.services_items li:nth-child(3) .services-icon {
    background: url(./assets/icons/heart.png) no-repeat center;
}
.services_items li:nth-child(4) .services-icon {
    background: url(./assets/icons/phone.png) no-repeat center;
}
.services_items li:nth-child(5) .services-icon {
    background: url(./assets/icons/bubble.png) no-repeat center;
}
.services_items li:nth-child(6) .services-icon {
    background: url(./assets/icons/star.png) no-repeat center;
}

/* Portfolio */

.portfolio {
    width: 100%;
    background-color: #2d303a;
    border-bottom: 7px solid #323746;
    padding-bottom: 48px;
} 

.portfolio h2 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    margin: 0;
}

p {
    margin-top: 26px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
}

/* Tags */ 
.buttons__tags {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: -7px;
}

.buttons__tags li a {
    text-decoration: none;

    border-radius: 5px;
    border: 1px solid #767e9e;

    padding: 2px 7px 3px 6px;
    margin-right: 10px;

    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;

    transition: all 0.5s;
}
.buttons__tags > li:nth-child(3) > a {
    padding-right: 5px;
}
.buttons__tags > li:last-child > a {
    padding-right: 5px;
}
.buttons__tags li a:hover {
    border: 1px solid #c5c5c5;
    color: #dedede;
}
.buttons__tags li a:active, .buttons__tags li a:focus {
    background-color: #767e9e;
    color: #dedede;
}


/* Grid для содержимого таблицы ячейка элемент грида made Kasko*/
.portfolio__items {
    list-style: none;
    padding: 0;

    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    margin-top: 18px;

    grid-template-columns: repeat(4, 220px);
    grid-template-rows: repeat(100, 187px);
    
    overflow: hidden;
    height: 604px;

    transition: .3s;
}

.portfolio__items li img {
    width: 100%;
    height: 100%;
}

.portfolio__items li img:hover {
    filter: brightness(75%);
}

/* About US */ 

.about-us {
    width: 100%;
    background-color: #f2f2f2;
    border-bottom: 7px solid #ffffff;
    padding-bottom: 52px;
}

.about-us p {
    line-height: 30px;
}

.about-us__persons {
    padding-top: 28px;
    display: flex;
    justify-content: space-between;

    height: 455px;
    /* скрываем перенос 
    flex-wrap: wrap;
    max-height: 455px;
    overflow: hidden;
    */
}

.person-item {
    max-width: 300px;
    margin-right: 20px;
}
.person-item:nth-child(n+3) {
    margin-right: 0px;
}

/*   Скрываем карточки после 3й, т.к. nowrap */
.person-item:nth-child(n+4) {
    overflow: hidden;
    margin-left: 20px; /* Если делать прокрутку растояние между карточками */
}

figure {
    padding: 0;
    margin: 0;
}

figcaption {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: left;

    margin-top: 13px;
    overflow: hidden;

    white-space: nowrap;
}

.person-item img {
    max-width: 300px;
    height: 300px;
}

.person-item p {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    text-align: justify;

    margin-top: 11px;
    letter-spacing: -0.1px;
}

/* social-icons */ 

.social-icons a {
    display: inline-block;
    width: 33px;
    height: 33px;
    color: #666d89;
    border-radius: 100%;
    border: 1.5px solid #666d89;
    box-sizing: border-box;

    margin: 10px 4px 8px 0px;

    filter: opacity(60%);
    transition: .3s;
}

.social-icons a:hover {
    box-shadow: 0px 0px 5px #767e9e;
    filter: brightness(150%);
}
.social-icons a:active {
    opacity: 35%;
}

.social-icons a:nth-child(1) {
    background: url(./assets/social/facebook.svg) no-repeat center;
}
.social-icons a:nth-child(2) {
    background: url(./assets/social/google+.svg) no-repeat center;
}
.social-icons a:nth-child(3) {
    background: url(./assets/social/twitter.svg) no-repeat center;
}
.social-icons a:nth-child(4) {
    background: url(./assets/social/linkedin.svg) no-repeat center;
}


/* Form*/
.contacts {
    width: 100%;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;;
    color: #f0d8d9;
} 

h2 {
    padding-top: 70px;
    font-size: 30px;
    line-height: 18px;
    font-weight: 900;
    margin: 0;
}

.contacts__description {
    padding-top: 2px;
    font-size: 18px;
    line-height: 30px;
    font-family: "Lato";
    font-weight: 300;
    margin-bottom: 43px;
    text-align: justify;
}


.contacts-flex {
    display: flex;
    justify-content: space-between;
}

.contact-form {
    width: 619px;
}

.contact-form input, textarea, button {
    width: 100%;
    height: 38px;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f0d8d9;
    border: none;
    box-sizing: border-box;

    padding: 13px 0 13px 14px;
    margin-bottom: 16px;

    transition: .3s ease-out;
}

.contact-form input:hover, textarea:hover, button:hover {
    border: 1px solid #f0d8d9;
}
.contact-form input:focus, textarea:focus, button:focus {
    outline: none;
    background-color: #f0d8d9;
}

.contact-form textarea {
    height: 202px;
}

.contact-form button {
    background-color: transparent;
    border: 1px solid  #f0d8d9;
    padding: 12px 16px 16px 16px;

    width: initial;
    margin-bottom: 11px;

    cursor: pointer;
}
.contact-form button:hover {
    color: #9050AA;
    background-color: #f0d8d9;
 } 
 .contact-form button:focus {
    outline: none;
    color: #9050AA;
    background-color: #f0d8d9;
 } 
/* задаем псевдокласс для цвета текста в плейсхолдоре */
input::placeholder, textarea::placeholder, button::placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
}
input:focus::placeholder, textarea:focus::placeholder, button:focus::placeholder {
    color:  rgb(78, 44, 92);
}
input:focus, textarea:focus, button:focus {
    color:  rgb(78, 44, 92);
}
/* contacts-information */ 

.contacts-information {
    width: 300px;
}
.contacts__title, .contacts__description {
    color: #f0d8d9;
}
.contacts-information__title {
font-size: 18px;
line-height: 18px;
color: #f0d8d9;
font-family: "Lato";
font-weight: 900;

margin: 2px 0 10px 0;
}

.contacts-information p {
    font-size: 12px;
    line-height: 21px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;

    text-align: justify;
    margin: 0;
}

/* иконки */ 
.icon {
    display: inline-block;
    width: 15px;
    height: 12px;
    padding: 0;
    margin: 0;
    /* выравниваем span в котором bg - icon, т.к. текст .contact__link - line-height: 22px; */
    vertical-align: middle; 
  }
  
.contact__link {
    text-decoration: none;
    color: #f0d8d9;
    margin-left: 6px;
    padding-top: 10px;
    vertical-align: middle; 
}
.contact:hover {
    cursor: pointer;
    opacity: 0.7;
}
.icon_location {
    background: url("./assets/contact-icons/location.svg") no-repeat center;
}
.icon_phone {
    background: url("./assets/contact-icons/phone.svg") no-repeat center;
}
.icon_mail {
    background: url("./assets/contact-icons/email.svg") no-repeat center;
}
.contact {
    padding: 0;
    margin: 0;
}
.contact-location {
    padding-top: 20px;
}



/* footer */ 
footer {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #2d303a;
}
.footer__copyright {
    display: inline-block;
    font-size: 12px;
    line-height: 21px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;

    text-align: justify;
    margin: 0;
}

/* social-icons */ 

.social-icons a {
    display: inline-block;
    width: 33px;
    height: 33px;
    color: #666d89;
    border-radius: 100%;
    border: 1.5px solid #666d89;
    box-sizing: border-box;

    margin: 10px 4px 8px 0px;

    filter: opacity(60%);
    transition: .3s;
}
/* Icons */ 
.social-icons a:hover {
    box-shadow: 0px 0px 5px #767e9e;
    filter: brightness(150%);
}
.social-icons a:active {
    opacity: 35%;
}

.social-icons a:nth-child(1) {
    background: url(./assets/social/facebook.svg) no-repeat center;
}
.social-icons a:nth-child(2) {
    background: url(./assets/social/google+.svg) no-repeat center;
}
.social-icons a:nth-child(3) {
    background: url(./assets/social/twitter.svg) no-repeat center;
}
.social-icons a:nth-child(4) {
    background: url(./assets/social/linkedin.svg) no-repeat center;
    margin: 10px 0px 8px;
}

/* Flex */ 
footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
